nav {
    display: flex;
    align-items: center;
    background-color: #e7e7e7;
    border-color: #e7e7e7;
    height: 40px;
}

.item {
    margin-left: 86px;
}


.items {
    margin-left: 600px;
    margin-right: 30px;
}

.nav_ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
}

.nav_li {
    margin-right: 20px;
}

.nav_li:last-child {
    margin-right: 0;
}

a {
    text-decoration: none;
    font-size: 14px;
    color: #777;
}

.fa-solid {
    margin-right: 3px;
    font-size: 15px;
}

.fa-regular {
    margin-right: 4px;
}

header {
    display: flex;
    align-items: center;
    background-color: #f8f8f8;
    height: 100px;
}

.logo {
    margin-left: 110px;
}

.rearch {
    display: flex;
    margin-left: 130px;
    position: relative;
    width: 100%;
}

.rearch_cart {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.rearch input {
    width: 460px;
    height: 40px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border: none;
    display: inline-block;
    background-color: #FFFFFF;
}

input:focus {
    outline: none;
}

.rearch-btn {
    position: absolute;
    top: 25%;
    left: 46%;
    border: none;
    background-color: #FFFFFF;
}

.icon-btn {
    color: #f15c22;
}

.category-button {
    width: 75px;
    height: 40px;
    background-color: #fff;
    border: none;
    color: #333;
    margin-right: 2px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 14px;
}

.cart {
    margin-left: 90px;
    display: flex;
    align-items: center;
}

.cart_1 {
    display: flex;
    align-items: center;
}


.cart_text {
    font-size: 18px;
}

.cart_text:hover {
    color: #333;
}

.cart_icon {
    font-size: 20px;
    color: #f15c22;
    margin-right: 15px;
}


.headphones_text {
    display: flex;
    align-items: center;
    margin-left: 120px;
}




.headphones_text p:first-child {
    margin-bottom: -5px;
    
}

.headphones_text p:nth-child(2) {
    margin-top: -5px;
}


.headphones_icon {
    font-size: 20px;
    color: #f15c22;
    margin-right: 15px;
}


.headphones {
    font-size: 19px;
    color: #f15c22;
}

.text-phone {
    font-size: 17px;
    color: #777;
}


a:hover {
    color: #333;
}


.footer {
    display: flex;
    align-items: center;
    margin-top: 40px;
}

.footer_below {
    margin-left: 110px;
    height: 150px;
    color: #333;
}

.footer_below1 {
    margin-left: 170px;
    color: #333;
    height: 150px;
}


.footer-hover:hover {
    color: #428bca;
}

.footer_below p {
    margin-bottom: 4px;
}

.footer_below1 p {
    margin-bottom: 4px;
}

.footer_line_1 {
    display: flex;
    align-items: center;
    color: #777;
    font-size: 14px;
    margin-bottom: 0rem;
}

.footer_line {
    display: flex;
    align-items: center;
    border-top: 1px solid #E9E9E9;
    border-bottom: 1px solid #E9E9E9;
    margin-left: 100px;
    margin-top: 95px;
    margin-right: 100px;
}

.footer_images {
    margin-left: 10px;
}

.footer_images1 {
    margin-left: 5px;
}

.footer_line_2 {
    margin-left: 450px;
    display: flex;
    align-items: center;
    color: #777;
    font-size: 14px;

}

.footer_line_text{
    margin-bottom: 0px;
}

.hr{
    margin-bottom: 50px;
}




