.cart_footer{
    padding-bottom: 20px;
    border-bottom: 1px solid #ccc;
    margin-left: 75px;
    width: 1370px;
    text-align: center;
}

.cart_coler{
    width: 1370px;
    text-align: center;
}

.cart_pay{
    margin-left: 20px;
    margin-top: -5px;
}