<!-- <h1 style="margin-top: 30px; font-size: 30px; margin-left: 90px;">Giỏ Hàng</h1> -->
<table class="table mt-4" style="width: 90%; text-align: center; margin: 0 auto">
    <thead>
        <tr>
            <th scope=" col">#</th>
            <th scope="col">Images</th>
            <th scope="col">Name</th>
            <th scope="col">Price</th>
            <th scope="col">quantity</th>
            <th scope="col">Thành tiền</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td><img src="https://bookbuy.vn/Res/Images/Product/tieng-thet-duoi-bang_125579_1.png?w=250&h=350&mode=canvas&quality=90" width="50px" height="50px"></td>
            <td>Dương Nam</td>
            <td>3743842 <span>248275</span></td>
            <td><input type="number" style="text-align: center;" placeholder="0" > 
            </td>
            <td>343t78588</td>
            <td><button  class="btn btn-danger">Xóa</button></td>
        </tr>

    </tbody>

</table>
<div style=" width: 100%;text-align: center; margin:10px auto;">
    Tổng thanh toán: <span style="font-size: 20px;">374573</span><a routerLink="/" class="cart_pay  btn btn-success">Thanh toán</a>
</div>
<div 
    class="cart_coler"
    style="text-align: center; margin: 30px 0px 40px 75px; background-color: rgb(226, 167, 167);">
    Giỏ hàng rỗng , <a href="/" style="color: rgb(70, 70, 211); text-decoration: underline;">mua hàng tại đây !</a>
</div>
<div class="cart_footer" >
    <a routerLink="/" class="btn btn-primary">tiếp tục mua hàng</a>
    <button class="btn btn-danger" >Xóa tất cả</button>
</div>