
<div class="relative mt-5 overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Name
                </th>
                <th scope="col" class="px-6 py-3">
                    Email
                </th>
                <th scope="col" class="px-6 py-3">
                    role
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                </th>
            </tr>
        </thead>
        <tbody>
            <tr 
            *ngFor="let item of user"
            class="bg-white border-b dark:bg-gray-900 dark:border-gray-700">
                <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                   {{item.name}}
                </th>
                <td class="px-6 py-4">
                    {{item.email}}
                </td>
                <td class="px-6 py-4">
                    {{item.role}}
                </td>
                <td class="px-6 py-4">
                    <button class="font-medium text-red-500 dark:text-blue-500 hover:underline" (click)="removeId(item._id!)" >Edit</button>
                    <a [routerLink]="[item._id,'edit']" class="m-6 ms-5 font-medium text-blue-600 dark:text-blue-500 hover:underline">Update</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

